<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - AARTO</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link href="css/styles.css" rel="stylesheet" />
    <style>
    .bck-img{
         background-image: url("image/coat.png");
         background-size: cover;
         }

    </style>
</head>
<body class="bck-img" >
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">AARTO System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Login</a></li>
                <!-- <li class="nav-item"><a class="nav-link" th:href="">Contact us </a></li>
                 <li class="nav-item"><a class="nav-link" th:href="">About</a></li>-->

            </ul>
        </div>
    </div>
</nav>
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                            <div class="card-body">

                                <form th:action="@{/ticketPage}" method="post">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" name="email" type="email" required/>
                                        <label for="email">Email address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="password" name="motdepass" type="password" required/>
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                        <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" th:href="@{/password}">Forgot Password?</a>
                                        <!--<a class="btn btn-primary" href="index.html">Login</a>-->
                                        <button type="submit" class="btn btn-warning">Log in</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a th:href="@{register}">Need an account? Sign up!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Header-->
    <!--<header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Administrative adjudication of road traffic offences</h1>
                        <p class="lead text-white-50 mb-4">An Infringement notice is commonly known as a traffic ticket. It is an issuing authority letting an alleged infringer know that they have break the traffic law.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" th:href="@{/login}">login</a>
                            <a class="btn btn-outline-light btn-lg px-4" th:href="@{register}">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>-->

    <br>
    <br>

    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto ">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted " >Copyright &copy; AARTO 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


</body>
</html>